body, .container {
  background: #f1f1f1;
}
.ritwik {
  margin: 0 auto;
}
.description {
  border-left: 1px dashed #92652A;
  border-bottom: 1px dashed #92652A;
}
.description-last {
  border-left: 1px dashed #92652A;
}
.details>h4 {
  margin-top: 30px;
}
h1, .h2date, h3 {
  color: #BD3F32;
}
.fadeDiv {
  opacity: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 45px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #f1f1f1;
  padding-top: 15px;
}